*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*fondo de pantalla, gradiente*/
.color{
    background-image: linear-gradient(to top, #041125, #00183c, #001d53, #002069, #06217f);
}

body{
    padding-top: 20px;
}
/*Cabecera de la web*/
header{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    min-width: 320px;
}

.header-icons{
    display: none;
    list-style-type: none;
}
.header--menu{
    list-style: none;
    display: flex;  
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #002069;
    border-radius: 20px;
    width: 240px;
    height: 50px;
    position: relative;
    top: 20px;
}
.header--menu li{
    padding-right: 10px;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    text-align: center;

}

.header--menu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0 4px 10px;
}


.header--title p{
    color: white;
}
/*MENU PRINCIPAL*/
section .title h1{
    color: white;
    text-align: center;
    font-size: 4rem;
}
section .title p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
    margin-top: 30px;
}/*Styles grid container of works and proyects*/

.container{
    border: 5px solid #e1bee7;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 600px));
    grid-auto-rows: 350px;
    justify-content: center;
    align-content: center;
    row-gap: 60px;
    column-gap: 30px;
    padding: 30px;
}
.item1{
    border: 5px solid #00bcd4;
}

.container .item1 p{
    z-index: 2;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px;
    background-color: black;
    border-radius: 20px;
}
.container .item1 img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Styles a items*/
.one, .two{
    justify-self: center;
}


/*Seccion contacts*/
.contacts{
    height: 267px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.contacts h2{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 60px;
}
/*boton enviar contactarme*/
section .contacts a{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    display: block;
    padding: 15px;
    background-color: #002069;
    border-radius: 30px;
    width: 250px;
    align-self: center;
    box-shadow: 2px 4px 10px skyblue;
    text-decoration: none;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    justify-content: center;
    align-items: center;
    color: white;
}
footer section{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
footer .top{
    text-align: center;
    line-height: 2.8rem;
}

footer .bottom ul{
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
    list-style: none;
    display: flex;
    justify-content: space-around;

}
footer .bottom ul li a{
    padding-right: 30px;
    text-decoration: none;
}